*{
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.loader{
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 70vh;
}

.home-component{
  text-align: center;
  width: 75%;
  margin: auto;
}

.home-component .jokes{
  padding: 20px 5px;
}

/* .footer {
  bottom: 0;
  position: fixed;
} */

nav .logo {
  height: 100px;
  width: auto;
}

.btn {
  margin: 30px 0;
}

footer{
  text-align: center;
  height: 180px;
}